
<div class="container">
<div id="<%= dom_id railsblog %>">



  <p>
    <strong>Title:</strong>
    <%= railsblog.title %>
  </p>

  <p>
    <strong>Upload:</strong>
    <%= railsblog.upload %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= railsblog.description %>
  </p>

</div>
</div>