<h1>Editing railsblog</h1>

<%= render "form", railsblog: @railsblog %>

<br>

<div>
  <%= link_to "Show this railsblog", @railsblog %> |
  <%= link_to "Back to railsblogs", railsblogs_path %>
</div>
