<p style="color: green"><%= notice %></p>

<h1>Railsblogs</h1>

<div id="railsblogs">
  <% @railsblogs.each do |railsblog| %>
    <%= render railsblog %>
    <p>
      <%= link_to "Show this railsblog", railsblog %>
    </p>
  <% end %>
</div>

<%= link_to "New railsblog", new_railsblog_path %>
